<Files ~ "^\.ht">
  Order allow,deny
  Deny from all
  Satisfy All
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine on
  # skip whitelisted directories
  RewriteRule ^(stylesheets|images|javascripts|favicon|robots\.txt|index\.php) - [L]
  RewriteRule ([-_\w\/]*) ?p=$1 [NE,NC,QSA]
</IfModule>